/* menu - header*/
header {
	text-align: center;
    background-image: linear-gradient(#32a852, #5dcf7c);
}

header nav .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    padding: 40px;
    font-size: 1.2rem;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.menu li a:hover {
    background-color: white;
    color: green;
    padding: 20px;
}  

.paraTransicion:hover {
    transition: 3s;
    font-size: 3rem;
}

body {
    font-family: Raleway;
    display: flex;
	height: 600px;
	flex-direction: column;
	padding: 1em;
}

table {
    border: 3px solid;
    font-size: 12px;
}

th {
    background-color:#cccccc;
    border: 1px solid;
}

tr, td {
    border: 1px solid;
}

.titulo {
    color: orange;
    text-align: center;
}

p {
    color: grey;
} 

.menu {
    list-style: none;
    display: flex;
    flex: 1;
}

li a {
	text-decoration: none;
}

li {
	width: 25%;
	position: relative;
	font-size: 15px;
	color: black;
}

ul li a:hover {
    background-color: red;
    color: white;
    padding: 4px;
}

a {
	text-decoration: none;
	padding: 4px;
	text-transform: uppercase;
}

.tituloRojo {
    color: #ff0303;
    text-align: right; 
}

.tituloVerde {
    color: green;
    text-decoration: underline;
}

.formatoItalica {
    font-style: italic;
    text-align: right;
    color: red;
    font-weight: bold;
}

section {
    margin: 20px;
    display: inline-block;
}

section article {
    background-color: #cccccc;
    width: 500px;
    height: 300px;
    padding: 40px;
}

section article p {
    line-height: 4;
}

.otraSeccion {
    margin: 0px 80px;
}

.otraSeccion h3 {
    letter-spacing: 2rem;
    font-size: 2rem;
}

#main {
	display: flex;
	flex: 1;
	margin-top: 20px;
}

article, aside {
	background-color: pink;
}

footer {
	background-color: grey;
	margin: 1px;
}

article, aside, footer {
	flex: 1;
	padding: 1rem;
	margin: 1px;
}

.grid {
    display: grid;  
    grid-template-columns: 200px 800px 180px;             
    grid-template-rows: 150px 150px 150px 150px; 
    grid-template-areas: "Nav Header Header"
                        "Nav Section1 Aside"
                        "Nav Section2 Aside"
                        "Nav Footer Footer";
}

.item1 {
    background-color: rgb(254,214,49);
    grid-area: Nav;
    margin: 5px;
    font-size: x-large;
    padding: 15px;
}
 
.item2 {
    background-color: rgb(254,214,49);
    grid-area: Header;
    margin: 5px;
    font-size: x-large;
    padding: 15px;
}

.item3 {
    background-color:rgb(254,214,49);
    grid-area: Section1;
    margin: 5px;
    font-size: x-large;
    padding: 15px;
}

.item4 {
    background-color: rgb(254,214,49);
    grid-area: Aside;
    margin: 5px;
    font-size: x-large;
    padding: 15px;
}

.item5 {
    background-color: rgb(254,214,49);
    grid-area: Section2;
    margin: 5px;
    font-size: x-large;
    padding: 15px;
}

.item6 {
    background-color: rgb(254,214,49);
    grid-area: Footer;
    margin: 5px;
    font-size: x-large;
    padding: 15px;
}

#caja {
    width:200px;
    height: 200px;
    background-color: rgb(81, 81, 204);
    animation-name: colores;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes colores {
    0% {
        background-color: red;
        width: 300px;
    }
    25% {
        background-color: yellow;
        transform: rotate(45deg);
        width: 400px;
    }
    50% {
        background-color: blue;
        transform:rotate(90deg);
        width: 600px;
    }
    75% {
        background-color: green;
        transform: rotate(45deg);
    }
    100% {
        background-color: violet;
        transform: rotate(90deg);
    }
}


@keyframes texto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}